<h2>Hello {{user.name}} {{user.lastname}}</h2>
<p>Your email is {{user.email}}</p>
{{!-- NO ES NECESARIO QUE LO PONGAN!!!!! --}}
<h1>{{user.password}}</h1>

<a href="/logout">
  <button>Logout</button>
</a>