<h2>Hello {{loggedUser.name}} {{loggedUser.lastname}}</h2>
<p>Your email is {{loggedUser.email}}</p>
{{!-- NO ES NECESARIO QUE LO PONGAN!!!!! --}}
<h1>{{loggedUser.password}}</h1>

<a href="/logout">
  <button>Logout</button>
</a>